body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.task-title {
  background-color: rgb(227, 227, 227);
  font-size: xx-large;
  padding: 5px;
}

.task-card.past-due {
  background-color: red; 
  color: white;
}

.task-title.past-due {
  background-color: rgb(193, 0, 0);
  color: white;
  font-size: xx-large;
}

.task-card.due-today {
  background-color: rgb(246, 226, 3); 
  color: black;
}

.task-title.due-today {
  background-color: rgb(215, 197, 4);
  color: black;
  font-size: xx-large;
}

.btn-sm {
  margin-top: 5px;
  background-color: red;
  border-color: white;
  padding: 10px 20px 10px 20px;
}